{
 "editor.formatOnSave": true,
       "editor.defaultFormatter": "esbenp.prettier-vscode",
                                         "prettier.requireConfig": false,
                                                  "prettier.singleQuote": true,
                                                                              "prettier.tabWidth": 2,
}
