$menuWidth: 215px;
$bodyWidth: 1100px;
$formWidth: 700px;

$animationSpeed: 0.25s;

$black: #000000;
$lightBlack: #555;
$white: #ffffff;

$lightRedBg: #fdd;
$red: #ff4d4f;
$redText: #ff7f7f;
$darkRed: #b00;

$lightGreen: #82C141;
$green: #0a0;

$lightGray: #f5f5f5;
$gray: #ddd;
$darkGray: #777;

$mobileWidth: 830px;
