@import '../../assets/scss/variables';

.wrapper {
  position: relative;
}

@media (max-width: $mobileWidth) {
  .wrapper {
    width: 384px;
    margin: 0 auto;
  }
}

.hourGlass {
  position: absolute;
  background: url("../../assets/hourGlass.gif");
  background-size: contain;
  opacity: .5;
}


table, th, td {
  border: 3px solid #00e;
  border-collapse: collapse;
}
th, td {
  background-color: #ffd4e9;
}

td {
  font-family: Courier New, Courier, Monospace, monospace;
  font-weight: bold;
  width: 36px;
  height: 36px;
  text-align: center;
}

.win {
  background: #f55;
  color: #fafafa;
}

.blocked {
  cursor: not-allowed;
  pointer-events: none;
}
