.currentPlayer {
  background: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  padding: 20px 30px;

  &.active {
    background: rgba(200, 255, 200, 0.5);
  }

  & > span, & > div {
    font-size: 70px;
  }
}
