@import '../../assets/scss/variables';

.currentPlayer {
  background: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  padding: 20px 30px;
  border: 1px solid rgba(255, 255, 255, .6);

  &.active {
    background: rgba(190, 255, 190, 0.6);
    border: 1px solid rgba(190, 255, 190, .66);
  }

  & > span, & > div {
    font-size: 70px;
  }
}

@media (min-width: $mobileWidth) {
  .currentPlayer {
    position: relative;
    left: -42px;
  }
}
