@import '../../assets/scss/variables';

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  user-select: none;
}

@media (max-width: $mobileWidth) {
  .game {
    display: block;
  }
}
