@import '../../assets/scss/variables';

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  user-select: none;
  margin: 16px;
}

@media (max-width: $mobileWidth) {
  .game {
    display: block;
    margin: 0;
  }
}
